body {
    text-align: center;
  }
  
  #lamp {
    margin: 0 auto;
  }
  
  #btn {
    font-size: 16px;
    padding: .3125rem .5rem;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: gray;
  }